<app-header></app-header>

<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide" src="../../assets/img/library-img.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Library Management.</h1>
            <p>Library System is software that is developed to handle basic functions of a Library, and provides a
              complete solution for the administration of a library’s technical functions and services to the public.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>
    The use of libraries has grown tremendously in the last decade. Its processes, such as acquisition, cataloguing,
    shelving and the general management of information has evolved through the years, in aspects of digitisation and in
    fact knowledge management. All these would not have happened if not for the need for Librarians to make work easy
    for themselves and indeed the library users.
  </p>
</main>
<app-footer></app-footer>
